.container {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginbutton {
  margin-left: 20px;
  margin-top: 20px;
}
